<div class="container">
        <nav class="navbar navbar-default">
            <div>
                <ul class="nav nav-pills">
                    <li  role="presentation" class="active">
                      <a [routerLink] = "['/home']">Home</a>
                    </li>
                    <li role="presentation">
                     <a [routerLink] = "['/productosHipoteca']">Productos de Hipoteca</a>
                    </li>
                    <li role="presentation">
                     <a [routerLink] = "['/home']">{{soliciteCredito}}</a>
                    </li>
                    <li role="presentation">
                     <a [routerLink] = "['/home']">{{contacto}}</a>
                    </li>
                </ul>
               <router-outlet></router-outlet>
            </div>
        </nav>
</div>



