
  <div class="picture">
    <div class="container">
      <div id="loginbox" style="margin-top:150px;margin-right:50px;margin-left:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" style="margin-right:150px">
          <div class="panel-heading">
            <div class="panel-title">Accesar al sistema</div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px">
              <a href="#">Olvido su contraseña?</a>
            </div>

            <div style="padding-top:30px" class="panel-body">

              <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

              <form id="loginform" class="form-horizontal" role="form">

                <div style="margin-bottom: 25px;" class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                  </span>
                  <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Usuario">
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                  </span>
                  <input id="login-password" type="password" class="form-control" name="password" placeholder="Contraseña">
                </div>

                <div style="margin-top:10px" class="form-group">

                  <div class="col-sm-12 controls">
                    <a id="btn-login" href="#" class="btn btn-success">Entrar</a>
                  </div>
                </div>
              </form>

            </div>

          </div>

        </div>
      </div>
    </div>


    <div class="div2">
      <div style="margin-right: 50px">
        <h4 class="letra">Siganos en nuestras redes sociales</h4>

        <a href="https://www.facebook.com/bootsnipp">
          <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
        </a>
        <a href="https://twitter.com/bootsnipp">
          <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
        </a>
        <a href="https://plus.google.com/+Bootsnipp-page">
          <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
        </a>
        <a href="mailto:bootsnipp@gmail.com">
          <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
        </a>
      </div>
    </div>
  
  </div>